.editor {
	.wrapper {
		position: relative;
		background-image: url('../img/background.jpg');
		background-size: 100% 100%;
		background-position: top center;
		background-repeat: no-repeat;

		flex-direction: column;
		justify-content: flex-start;

	}

	.back-button {
		position: absolute;
		align-self: flex-start;
		margin-top: 62px * $ratio;
		margin-left: 65px * $ratio;
		width: 109px * $ratio;
		height: 109px * $ratio;
		border-radius: 50%;
		background: #fff;
	}

	.close-button {
		position: absolute;
		align-self: flex-start;
		margin-top: 200px * $ratio;
		margin-left: 65px * $ratio;
		width: 109px * $ratio;
		height: 109px * $ratio;
		border-radius: 50%;
		background: #fff;
	}

	.real-como-santal {
		margin-top: 90px * $ratio;
	}

	.editor-iframe {
		width: $width;
		min-height: $width / 1.777777778;
		margin-top: 128px;
	}

	.continue {
		display: block;
		margin-top: 32px;
		margin-left: auto;
		margin-right: auto;
		padding: 0;
		border: 2.6px * $ratio solid $brand-color;
		border-radius: 24px * $ratio * 1.5;
		width: 503px * $ratio;
		height: 92px * $ratio;
		background: $brand-color;
		font-family: 'Raleway';
		font-weight: 900;
		font-size: 42.27px * $ratio;
		line-height: 46px * $ratio;
		text-align: center;
		text-transform: uppercase;
		color: #fff;
		cursor: pointer;

		&:hover {
			background-color: $brand-color-alt;
			color: #fff;
			border-color: $brand-color-alt;
		}
	}
}